<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>My Homepage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <body>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

    <div id="wrapper">
      <div class="main-content">
        <div class="header">
          <img src="images\logo.jpg">
        </div>
        <div class="l-part">
          <input type="text" placeholder="Username" class="input-1" />
          <div class="overlap-text">
          <input type="password" placeholder="Password" class="input-2" />
          </div>
          <input type="button" value="Log in" class="btn" />
        </div>
      </div>
      <div class="sub-content">
        <div class="s-part">
          Don't have an account?<a href="#">Sign up</a>
        </div>
      </div>
    </div>

    <footer class="footer" role="contentinfo">
      <div class="footer-container">

        <nav class="footer-nav" role="navigation">
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Api</a></li>
            <li><a href="">Jobs</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Directory</a></li>
            <li>
              <span class="language">Language
                <select name="language" class="select" onchange="la(this.value)">
                  <option value="#">English</option>
                  <option value="http://ru-instafollow.bitballoon.com">Russian</option>
                </select>
              </span>
            </li>
          </ul>
        </nav>

        <span class="footer-logo">&copy; 2023 AroundME</span>
      </div> <!-- Footer container end -->
    </footer>
  </body>
</html>
