{% extends 'UserNav.html' %}
{% block nav %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cp.css' %}">

<form method="post">
    {% csrf_token %}
    
   
 <div class="form">
    <div class="title">Change Password</div>

    <div class="input-container ic1">
        <input id="firstname" class="input" type="password" name="{{ form.cp.html_name }}" placeholder=" " />
        <div class="cut"></div>
        <label for="firstname" class="placeholder">Current Password</label>
    </div>
    <div class="input-container ic1">
        <input id="firstname" class="input" type="password" name="{{ form.np.html_name }}" placeholder=" " />
        <div class="cut"></div>
        <label for="firstname" class="placeholder">New Password</label>
    </div>
    <div class="input-container ic1">
        <input id="firstname" class="input" type="password" name="{{ form.cnp.html_name }}" placeholder=" " />
        <div class="cut"></div>
        <label for="firstname" class="placeholder">Confirm Password</label>
    </div>
    
    <button type="text" class="submit">submit</button>
 </div>
</form>

{% endblock nav %}