{% extends 'UserNav.html' %}
{% block nav %}

<h1>Delete Post</h1>
<p>Are you sure you want to delete this post?</p>
{% if object.image %}
<tr>
  <td>Current Image:</td>
  <td><img src="{{ object.image.url }}" alt="{{ object.caption }}" style="max-width: 60%;"></td>
</tr>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'Profile' %}" class="btn btn-secondary">Cancel</a>
</form>


{% endblock nav %}